<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Posts</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    <h1>{{party.what}}</h1>
    <p>Posted by: {{party.planner.first_name}} {{party.planner.last_name}}</p>
    <p>Location: {{party.location}}</p>
    <p>When: {{party.date}}</p>
    <p>All Ages Welcome: {%if party.all_ages == 1%}Yes{%else%}No{%endif%}</p>
    <p>Description: {{party.description}}</p>
    <a href="/welcome" class="btn btn-primary">Home</a>
</body>
</html>