<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {
        text-align: center;
    }
    #box{
        border: 2px solid black;
        border-radius: 15px;
        height: 200px;
        width: 200px;
        background-color: {{color}};
    }

    .container{
        display: flex;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
</style>
<body>
    <h1 id="welcome">Welcome!</h1>
    <div class="container">
        {% for i in range(boxes) %}
        <div id="box"></div>
        {% endfor %}
    </div>
</body>
</html>